<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Ishowdarkside Login</title>
</head>

<style>
    .failed {
        color:red;
    }
</style>
<body>

<h3>My custom login page</h3>
<form method="POST" action="#" th:action="@{/authenticateTheUser}">

    <!-- check for login error -->
    <div th:if="${param.error}">
        <i class="failed">Sorry! You entered invalid username/password</i>
    </div>
    <p>
        User name: <input type="text" name="username" />
    </p>

    <p>
        Password: <input type="password" name="password" />
    </p>

    <input type="submit" value="Login" />

</form>
</body>
</html>